.card {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.card:hover {
  transform: translateY(-15px);
  transition: all 0.3s ease;
}

.image {
  width: 100%;
}

p {
  font-size: large;
  margin: 10px 0;
}
