.countryPage {
  padding: 5%;
}

.buttonContainer {
  margin-bottom: 2rem;
}

.button {
  display: flex;
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: medium;
  padding: 10px 40px;
  box-shadow: 0 0 6px #0d6efd;
}

.countryDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image {
  width: 85%;
}

h1 {
  font-weight: 200;
  margin: 0;
}

.detail {
  font-weight: 700;
}

.borders {
  display: flex;
  flex-wrap: wrap;
  text-overflow: ellipsis;
}

.bordersElement {
  border: none;
  margin: 0 5px;
  border-radius: 5px;
  font-size: small;
  padding: 9px 27px;
}

@media screen and (max-width: 990px) {
  .countryDetails {
    grid-template-columns: 1fr;
  }

  .image {
    width: 100%;
  }
}
